 <% if flash.key? :success %>
   <p><%= flash[:success] %></p>
 <% end %>

<div style="width:50%; float: left">
    <h2> Create a new character </h2>
    <%= link_to 'Create a new character', new_character_url%>
</div>

<%# need to add a button next to each name [edit] [delete] %>
<div style="width:50%; float: right">
    <h2> View an existing character </h2>
    <% characters.each do |character| %>
        <%= character.name  %>
        <%= link_to '🔎', view_character_url(:id => character.id) %>
        <%= link_to '🖋', edit_character_url(:id => character.id) %>
        <%= link_to '🗑', delete_character_url(:id => character.id), method: :delete %>
        <br> 
    <% end %>
</div>