<h2> <%= character1.name %> - lvl <%= character1.level %></h2> 

Background : <%= character1.background %>
<br>
Class : <%= character1.character_class %>
<br>
Race : <%= character1.race %>
<br>
Alignment : <%= character1.alignment %>
<br>
Armor Class : <%= character1.armor_class %>
<br>
<%= link_to 'back to character select', select_character_url %>