<h2> <%= character1.name %> - lvl <%= character1.level %></h2> 

Name : <%= character1.name %>
<br>
Background : <%= character1.background %>
<br>
Class : <%= character1.character_class %>
<br>
Race : <%= character1.race %>
<br>
Strength : <%= character1.strength %>
<br>
Dexterity : <%= character1.dexterity %>
<br>
Constitution : <%= character1.constitution %>
<br>
Intelligence : <%= character1.intelligence %>
<br>
Wisdom : <%= character1.wisdom %>
<br>
Charisma: <%= character1.charisma %>
<br>
<%= link_to 'back to character select', select_character_url %>