<h1> Update <%= character.name %> </h1>
 <% if flash.key? :error %>
   <p><%= flash[:error] %></p>
 <% end %>
<%= form_with model: character, url: update_character_path, method: :patch, local: true, scope: :character do |form| %>    
    
    <div style="float: left; padding-right:2rem">
        <%= form.label :name %><br>
        <%= form.text_field :name %><br>
        <%= form.label :level %><br>
        <%= form.text_field :level %><br>
        <%= form.label :character_class %><br>
        <%= form.select :character_class,  ['Barbarian', 'Bard', 'Cleric', 'Druid', 'Fighter', 'Monk', 'Paladin', 'Ranger', 'Rogue', 'Sorcerer', 'Warlock', 'Wizard']%><br>
        <%= form.label :race %><br>
        <%= form.select :race,  ['Human', 'Elf', 'Dragonborn', 'Dwarf', 'Gnome', 'Half-Elf', 'Halfling', 'Half-Orc', 'Tiefling']%><br>
        <%= form.label :background %><br>
        <%= form.select :background, ['Acolyte', 'Charlatan', 'Criminal', 'Entertainer', 
                                      'Folk Hero', 'Gladiator', 'Guild Artisan', 'Guild Merchant', 'Hermit', 
                                      'Knight', 'Noble', 'Outlander', 'Pirate', 'Sage', 'Sailor', 'Solder', 'Spy', 'Urchin'] %><br>
    </div>
    <div style="float: left; padding-right:2rem">
        <%= form.label "Level 4 Feat" %><br>
        <%= form.select :lvl4feat, ['None', 'Actor','Alert','Athlete (Strength)','Athlete (Dexterity)','Charger','Crossbow Expert','Defensive Duelist','Dual Wielder','Dungeon Delver',
                                'Durable','Elemental Adept','Grappler','Great Weapon Master','Healer','Heavily Armored','Heavy Armor Master',
                                'Inspiring Leader','Keen Mind','Lightly Armored (Strength)','Lightly Armored (Dexterity)','Linguist','Lucky','Mage Slayer','Magic Initiate','Martial Adept',
                                'Medium Armor Master','Mobile','Moderately Armored (Strength)','Moderately Armored (Dexterity)','Observant (Intelligence)','Observant (Wisdom)','Polearm Master','Resilient','Ritual Caster','Savage Attacker',
                                'Sentinel','Sharpshooter','Shield Master','Skilled','Skulker','Spell Sniper','Tavern Brawler (Strength)','Tavern Brawler (Constitution)','Tough','War Caster','Weapon Master (Strength)','Weapon Master (Dexterity)'] %><br>
        <%= form.label "Level 8 Feat" %><br>
        <%= form.select :lvl8feat, ['None', 'Actor','Alert','Athlete (Strength)','Athlete (Dexterity)','Charger','Crossbow Expert','Defensive Duelist','Dual Wielder','Dungeon Delver',
                                'Durable','Elemental Adept','Grappler','Great Weapon Master','Healer','Heavily Armored','Heavy Armor Master',
                                'Inspiring Leader','Keen Mind','Lightly Armored (Strength)','Lightly Armored (Dexterity)','Linguist','Lucky','Mage Slayer','Magic Initiate','Martial Adept',
                                'Medium Armor Master','Mobile','Moderately Armored (Strength)','Moderately Armored (Dexterity)','Observant (Intelligence)','Observant (Wisdom)','Polearm Master','Resilient','Ritual Caster','Savage Attacker',
                                'Sentinel','Sharpshooter','Shield Master','Skilled','Skulker','Spell Sniper','Tavern Brawler (Strength)','Tavern Brawler (Constitution)','Tough','War Caster','Weapon Master (Strength)','Weapon Master (Dexterity)'] %><br>
        <%= form.label "Level 12 Feat" %><br>
        <%= form.select :lvl12feat, ['None', 'Actor','Alert','Athlete (Strength)','Athlete (Dexterity)','Charger','Crossbow Expert','Defensive Duelist','Dual Wielder','Dungeon Delver',
                                'Durable','Elemental Adept','Grappler','Great Weapon Master','Healer','Heavily Armored','Heavy Armor Master',
                                'Inspiring Leader','Keen Mind','Lightly Armored (Strength)','Lightly Armored (Dexterity)','Linguist','Lucky','Mage Slayer','Magic Initiate','Martial Adept',
                                'Medium Armor Master','Mobile','Moderately Armored (Strength)','Moderately Armored (Dexterity)','Observant (Intelligence)','Observant (Wisdom)','Polearm Master','Resilient','Ritual Caster','Savage Attacker',
                                'Sentinel','Sharpshooter','Shield Master','Skilled','Skulker','Spell Sniper','Tavern Brawler (Strength)','Tavern Brawler (Constitution)','Tough','War Caster','Weapon Master (Strength)','Weapon Master (Dexterity)'] %><br>
        <%= form.label "Level 16 Feat" %><br>
        <%= form.select :lvl16feat, ['None', 'Actor','Alert','Athlete (Strength)','Athlete (Dexterity)','Charger','Crossbow Expert','Defensive Duelist','Dual Wielder','Dungeon Delver',
                                'Durable','Elemental Adept','Grappler','Great Weapon Master','Healer','Heavily Armored','Heavy Armor Master',
                                'Inspiring Leader','Keen Mind','Lightly Armored (Strength)','Lightly Armored (Dexterity)','Linguist','Lucky','Mage Slayer','Magic Initiate','Martial Adept',
                                'Medium Armor Master','Mobile','Moderately Armored (Strength)','Moderately Armored (Dexterity)','Observant (Intelligence)','Observant (Wisdom)','Polearm Master','Resilient','Ritual Caster','Savage Attacker',
                                'Sentinel','Sharpshooter','Shield Master','Skilled','Skulker','Spell Sniper','Tavern Brawler (Strength)','Tavern Brawler (Constitution)','Tough','War Caster','Weapon Master (Strength)','Weapon Master (Dexterity)'] %><br>
        <%= form.label "Level 19 Feat" %><br>
        <%= form.select :lvl19feat, ['None', 'Actor','Alert','Athlete (Strength)','Athlete (Dexterity)','Charger','Crossbow Expert','Defensive Duelist','Dual Wielder','Dungeon Delver',
                                'Durable','Elemental Adept','Grappler','Great Weapon Master','Healer','Heavily Armored','Heavy Armor Master',
                                'Inspiring Leader','Keen Mind','Lightly Armored (Strength)','Lightly Armored (Dexterity)','Linguist','Lucky','Mage Slayer','Magic Initiate','Martial Adept',
                                'Medium Armor Master','Mobile','Moderately Armored (Strength)','Moderately Armored (Dexterity)','Observant (Intelligence)','Observant (Wisdom)','Polearm Master','Resilient','Ritual Caster','Savage Attacker',
                                'Sentinel','Sharpshooter','Shield Master','Skilled','Skulker','Spell Sniper','Tavern Brawler (Strength)','Tavern Brawler (Constitution)','Tough','War Caster','Weapon Master (Strength)','Weapon Master (Dexterity)'] %><br>
    </div>
    

    <div style="float: left">
        <%= form.label :strength %><br>
        <%= form.select :strength, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :dexterity %><br>
        <%= form.select :dexterity, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :constitution %><br>
        <%= form.select :constitution, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :intelligence %><br>
        <%= form.select :intelligence, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :wisdom %><br>
        <%= form.select :wisdom, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :charisma %><br>
        <%= form.select :charisma, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
    </div>
    
    <div style="float: left; padding-right:2rem">
        <%= form.label  :description %><br>
        <%= form.text_area :description%><br>
    </div>

    <div style="display: inline-block; width: 100%">
        <%= form.submit "Submit" %>
    </div>
<% end %>