<h1> Update <%= character.name %> </h1>
 <% if flash.key? :error %>
   <p><%= flash[:error] %></p>
 <% end %>
<%= form_with model: character, url: update_character_path, method: :patch, local: true, scope: :character do |form| %>    
    
    <div style="float: left">
        <%= form.label :name %><br>
        <%= form.text_field :name %><br>
        <%= form.label :level %><br>
        <%= form.text_field :level %><br>
        <%= form.label :character_class %><br>
        <%= form.select :character_class,  ['Barbarian', 'Bard', 'Cleric', 'Druid', 'Fighter', 'Monk', 'Paladin', 'Ranger', 'Rogue', 'Sorcerer', 'Warlock', 'Wizard']%><br>
        <%= form.label :race %><br>
        <%= form.select :race,  ['Human', 'Elf', 'Dragonborn', 'Dwarf', 'Gnome', 'Half-Elf', 'Halfling', 'Half-Orc', 'Tiefling']%><br>
        <%= form.label :background %><br>
        <%= form.select :background, ['Acolyte', 'Charlatan', 'Criminal', 'Entertainer', 
                                      'Folk Hero', 'Gladiator', 'Guild Artisan', 'Guild Merchant', 'Hermit', 
                                      'Knight', 'Noble', 'Outlander', 'Pirate', 'Sage', 'Sailor', 'Solder', 'Spy', 'Urchin'] %><br>
    </div>
    

    <div style="float: left">
        <%= form.label :strength %><br>
        <%= form.select :strength, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :dexterity %><br>
        <%= form.select :dexterity, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :constitution %><br>
        <%= form.select :constitution, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :intelligence %><br>
        <%= form.select :intelligence, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :wisdom %><br>
        <%= form.select :wisdom, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
        <%= form.label :charisma %><br>
        <%= form.select :charisma, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %><br>
    </div>
    <div style="display: inline-block; width: 100%">
        <%= form.submit "Submit" %>
    </div>
<% end %>