<h1> Make a new character </h1>
<%= form_with model: character, url: characters_path, method: :post, local: true, scope: :character do |form| %>    
    <div>
        <%= form.label :character_class %><br>
        <%= form.select :character_class,  ['Barbarian', 'Bard', 'Cleric', 'Druid', 'Fighter', 'Monk', 'Paladin', 'Ranger', 'Rogue', 'Sorcerer', 'Warlock', 'Wizard']%>
    </div>
     <div>
        <%= form.label :race %><br>
        <%= form.select :race,  ['Human', 'Elf', 'Dragonborn', 'Dwarf', 'Gnome', 'Half-Elf', 'Halfling', 'Half-Orc', 'Tiefling']%>
    </div>
    <div>
        <%= form.label :background %><br>
        <%= form.text_field :background %>
    </div>
    <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :strength %><br>
    <%= form.text_field :strength %>
  </div>

  <div>
    <%= form.label :dexterity %><br>
    <%= form.text_field :dexterity %>
  </div>

  <div>
    <%= form.label :constitution %><br>
    <%= form.text_field :constitution %>
  </div>

  <div>
    <%= form.label :intelligence %><br>
    <%= form.text_field :intelligence %>
  </div>

  <div>
    <%= form.label :wisdom %><br>
    <%= form.text_field :wisdom %>
  </div>

  <div>
    <%= form.label :charisma %><br>
    <%= form.text_field :charisma %>
  </div>
    <%= form.submit "Submit" %>
<% end %>